<div class="container">
    <div class="card">
        <div class = "card-header">
            <h2>Animales Crud</h2>
        </div>
        <div class = "card-body">
            <table class = "table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Edad</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of animal" class = "text-center">
                        <td>{{a.id}}</td>
                        <td>{{a.nombre}}</td>
                        <td>{{a.tipo}}</td>
                        <td>{{a.edad}}</td>
                        <td><button (click) = "Editar(a)" class = "btn btn-warning">Editar</button></td>
                        <td><button (click) = "Eliminar(a)" class = "btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>